<div class="formattingpartials">
<h1><%= "#{success_message}"%></h1>
<hr></hr><br>
<p align="center"><strong>QUOTE</strong></p>
<p>"<%= "#{quote}" %>"</p>
<p align="right"><em>- <%= "#{quoter}" %></em><br></p>  
</div>